#miner h4.number-label,
#miner h2 {
	color: #aaa;
}

#miner.running h4.number-label,
#miner.running h2 {
	color: #555;
}

#mining-stats-container {
	position: relative;
	text-align: center;
	height: 96px;
	border-bottom: 1px solid #f0f0f0;
}

#mining-stats-canvas {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#mining-controls {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 32px 0;
}

#mining-start {
	text-transform: uppercase;
	font-size: 120%;
	display: inline-block;
}

#miner.running #mining-start {
	position: relative;
	z-index: 2;
	display: none;
}

#mining-stop {
	display: none;
}

#miner.running #mining-controls:hover #mining-stop {
	position: relative;
	z-index: 2;
	display: inline-block;
}

.mining-icon {
	width: 32px;
	height: 32px;
	vertical-align: -37%;
	margin-right: 4px;
}

.mining-icon .mining-stroke { stroke: #1e9ee0; }
.mining-icon .mining-fill { fill: #1e9ee0; }
.mining-button:hover .mining-icon .mining-stroke { stroke: #555; }
.mining-button:hover .mining-icon .mining-fill { fill: #555; }

#miner.stopped .action { color: #aaa; }
.mining-divide { font-size: 80%; color: #eee; }
